* {
  /* margin: 0%; */
  padding: 0%;
}
body {
  font-size: larger;
  font-family: sans-serif, Arial, Helvetica;
  padding: 5% 10%;
}

nav a {
  text-decoration: none;
}
p a {
  text-decoration: none;
}

li a:hover {
  color: rgb(238, 7, 7);
  background-color: rgb(1, 13, 19);
}
a:visited {
  color: #00f;
}
a:active {
  color: blue;
}
header {
  /* margin: 0%; */
  padding: 0 0 0 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
}

nav {
  border: 2px solid rgb(209, 14, 14);
  outline: 3px solid rgb(6, 112, 6);
  border-radius: 2rem;
  margin: 0%;
}
h2 {
  margin: 0%;
  background-color: black;
  color: whitesmoke;
  border-radius: 2rem 2rem 0 0;
}
ul {
  /* list-style-position: outside; */
  margin: 0%;
  margin-left: 0%;
  list-style-type: none;
}
li a {
  display: block;
}
li {
  border-top: 1px solid #00f;
}
li:last-child a {
  border-radius: 0 0 2rem 2rem;
}
