* {
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
}
html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2rem;
}
/* button,
input {
  font-size: inherit;
  display: block;
}

.box {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  gap: 2rem;
  border: 2px double #000;
}
.name {
  border: 2px solid #000;
  flex: 1 0 180px;
}
.email {
  border: 2px solid #000;
  flex: 1 0 180px;
}
.submit {
  border: 2px solid #000;
  flex: 1 0 180px;
} */
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: color-mix(in srgb, #0000ff 3%, #000000 80%);
  color: #f5f5f5;
}
.example1 {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.first {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  border: 2px solid #b22222;
  margin-left: 5%;
  padding: 0.5rem;
  box-shadow: 10px 10px 10px #b22222;
  text-shadow: 3px 1px 10px #000;
}
.second {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  border: 2px solid #b22222;
  margin-left: 5%;
  padding: 0.5rem;
  box-shadow: 10px 10px 10px #008b8b, -10px -10px 10px #ffff00,
    inset 0 0 20px #8b0000;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
.third {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  display: flex;
  justify-content: center;
  color: #000;
  align-items: center;
  background-image: radial-gradient(#add8e6, #00008b, #000);
  border: 2px solid #b22222;
  box-shadow: 0 0 100px #a9a9a9;
  /* border-radius: 20%; */
}
@media (max-width: 720px) {
  .first {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  .second {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
  .third {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    /* display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(#f5f5f5, #000);
    border: 2px solid #b22222; */
  }
}
@media (max-width: 1800px) and (min-width: 720px) {
  .example1 {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 500px;
  }
  .first {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }
  .second {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
  }
  .third {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    /* display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(#f5f5f5, #000);
    border: 2px solid #b22222; */
  }
}
